<div class="container">

  <h1>All our Flats (<%= @flats.length %>)</h2>

  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card">
        <h3><%= flat.name %></h3>
        <p><%= flat.address %></p>
        <p><%= flat.number_of_guests %> <%= flat.price_per_night %></p>
      </div>
    <% end %>
  </div>

</div>
